<form class="form" action="/add" method="post">

  <label for="id" class="form-item">
    Id:
    <input type="text" name="id" value="{{id}}">
  </label> 
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="{{name}}">
  </label>
  <label for="season" class="form-item">
    Seasons:
  <input type="text" name="season" value="{{seasons}}">
  </label>
  <label for="snapper" class="form-item">
      <input type="submit" name="" value="Submit">
</form>
