<link rel="stylesheet" href="/main.css">
<div class="container">
  {{#each seasons}}
  <div class="season-list">
    <a href="/seasons/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
  </div>
  {{/each}}
</div>
